.readArticlePreviewImgWrap {
    text-align: center;
    height: 320px;
}

.readArticlePreviewImgWrap:before {
    content: '';
    height: 320px;
    display: inline-block;
    vertical-align: middle;
}

.readArticlePreviewImgChild {
    background-color: #cbf1a9;
    display: inline-block;
    vertical-align: middle;
    -moz-transition: font-size linear 1s;
    -o-transition: font-size linear 1s;
    -webkit-transition: font-size linear 1s;
    transition: font-size linear 1s;
    max-height: 320px;
}

.readArticleTitle {
    text-align: center;
    font-size: larger;
}

.readArticleBodyBlock {
    background-color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 15px;
}

.tagLabelsBlock {
    margin: 12px 12px 20px 12px;
    display: flex;
    justify-content: flex-end;
}

.tagLabel {
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 8px;
    background-color: #2196F3;
}

.articleDateBlock {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}