.readArticlePreviewImgWrap {
    text-align: center;
    height: 320px;
}

.readArticlePreviewImgWrap:before {
    content: '';
    height: 320px;
    display: inline-block;
    vertical-align: middle;
}

.readArticlePreviewImgChild {
    background-color: #cbf1a9;
    display: inline-block;
    vertical-align: middle;
    -moz-transition: font-size linear 1s;
    -o-transition: font-size linear 1s;
    -webkit-transition: font-size linear 1s;
    transition: font-size linear 1s;
    max-height: 320px;
}

.readArticleTitle {
    text-align: center;
    font-size: larger;
}

.readArticleBodyBlock {
    background-color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px;
}