.roundbutton {
  background: #269ce9;
  color: #fff;
  height: 38px;
  padding: 0px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.roundbutton.roundbutton-green {
  background: #1db731;
}
.roundbutton.roundbutton-red {
  background: #e94625;
}
.roundbutton:hover:enabled {
  filter: brightness(1.1);
}
.roundbutton:disabled {
  background: #dbe2e5;
}
