table {
    width: 90%;
}

.published-blue {
    font-size: 20px;
    color: blue;
}

.published-red {
    font-size: 20px;
    color: red;
}

.dashboardPreviewImage {
    height: 50px;
    width: 50px;
}

.dashboardActionsCell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}