.top-menu-lead {
    padding: 10px;
    color: beige;
    display: inline-block;
    float: left;
    text-decoration: none;
}

.top-menu-lead-logo {
   height: 50px;
}

.top-menu-lead:hover{
    cursor: pointer;
    color: #efefc3;
}

.top-menu-lead-logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .top-menu-lead {
        position: absolute;
        top: 0;
        left: 10px;
        float: none;
    }

    .top-menu-lead-logo {
        height: 40px;
    }
}